.site-footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	background: none;
	border-top: none;
	box-shadow: none;
	z-index: 999;

	&.headroom {
	    transition-property: transform;
	    transition-duration: 200ms;
	    transition-timing-function: linear;
	}

	&.headroom--pinned {
	    transform: translateY(0);
	}

	&.headroom--unpinned {
	    transform: translateY(100%);
	}

	.container {

		padding-bottom: 20px;
		background-color: @white;

		@media( max-width: @screen-sm-max ){
			padding-bottom: 15px;
		}

		hr {
			margin-bottom: 20px;

			@media( max-width: @screen-sm-max ){
				margin-bottom: 15px;
			}
		}

		.row {
			a {
				outline: none;

				.icon {
					font-size: 28px;

					@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
						font-size: 25px;
					}

					@media( max-width: @screen-sm-max ){
						font-size: 20px;
					}
				}

				.label {
					position: relative;
					top: 4px;
					left: 5px;
					font-size: @font-size-base;
					cursor: pointer;

					@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
						top: 4px;
						font-size: @font-size-base-md;
					}

					@media( max-width: @screen-sm-max ){
						display: none;
					}
				}

				&:focus {
					.icon, .label {
						color: @black;
					}
				}
			}
		}
	}
}
