.site-header {

	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: none;
	background-color: transparent;
	z-index: 999;

	&.headroom {
	    transition-property: transform;
	    transition-duration: 200ms;
	    transition-timing-function: linear;
	}

	&.headroom--pinned {
	    transform: translateY( 0% );
	}

	&.headroom--unpinned {
	    transform: translateY( -100% );
	}

	.container {

		background-color: @white;

		.row {

			a {
				outline: none;

				.icon {
					margin-top: 76px;
					font-size: 28px;

					@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
						margin-top: 74px;
						font-size: 25px;
					}

					@media( max-width: @screen-sm-max ){
						margin-top: 59px;
						font-size: 20px;
					}
				}

				&:focus {
					.icon {
						color: @black;
					}
				}

				.logo {
					display: inline-block;
					padding: 69px 18px 21px;
					background-color: @brand-primary;
					border-bottom-left-radius: 2px;
					border-bottom-right-radius: 2px;

					@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
						padding: 58px 15px 17px;
					}

					@media( max-width: @screen-sm-max ){
						padding: 42px 12px 14px;
					}

					.icon {
						color: @brand-secondary;
						font-size: 33px;
						margin-top: 0;

						@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
							font-size: 26px;
						}

						@media( max-width: @screen-sm-max ){
							font-size: 20px;
						}
					}
				}

				&:focus {
					.logo {
						.icon {
							color: @brand-secondary;
						}
					}
				}
			}
		}

		hr {
			margin-top: 25px;

			@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
				margin-top: 20px;
			}

			@media( max-width: @screen-sm-max ){
				margin-top: 15px;
			}
		}
	}
}