.hentry {

	margin: 0;
	padding: 0;
	border-top: none;
	background-color: transparent;
	box-shadow: none;

	.entry-header {

		margin: 0 !important;
		padding: 0 !important;
		max-width: none;
		background-color: transparent;

		.container {

			padding-top: 20px;
			padding-bottom: 8px;

			.row {

				.entry-title {

					font-size: @font-size-h1;
					font-weight: @headings-font-weight;
					line-height: @headings-line-height;
					margin-top: 0;
					margin-right: inherit;
					margin-bottom: inherit;
					margin-left: inherit;
					color: @black;
					text-transform: none;
				}
			}
		}
	}

	.entry-content {

		max-width: none;
		padding-left: 0;
		padding-right: 0;
		background-color: transparent;

		.container {

			margin-bottom: 80px;

			hr {
				margin-bottom: 20px;
			}

			.row {

				.entry-title {

					font-size: @font-size-h1;
					font-weight: @headings-font-weight;
					line-height: @headings-line-height;
					margin-top: 0;
					margin-right: inherit;
					margin-bottom: inherit;
					margin-left: inherit;
					color: @gray;
					text-transform: none;
				}

				.entry-caption {
					
					margin-top: 15px;
				}

				a {
					text-decoration: none;
				}
			}
		}
	}

	&.page {}

	&.paragraph {

		.entry-content {

			.container {

				padding-top: 0;
				border-top: none;
			}
		}
	}
}

.hentry + .hentry {

	margin-top: 0;
}


.list-view .site-content .hentry {

	border-top: none; 
	padding-top: 0; 
}