.hentry {
	margin: 0;
	padding: 0;
	border-top: none;
	background-color: transparent;
	box-shadow: none;

	.entry-header {
		padding: 0;
		max-width: none;
		background-color: transparent;
	}

	.entry-content {

		padding: 30px 0 90px 0;
		max-width: none;
		background-color: transparent;

		.entry-title {

			font-size: @font-size-h1;
			font-weight: @headings-font-weight;
			line-height: @headings-line-height;
			margin-top: 0;
			margin-right: inherit;
			margin-bottom: inherit;
			margin-left: inherit;
			color: @gray;
			text-transform: none;
		}

		img {

			width: 100%;
			height: auto;
			margin: 15px 0;
		}
	}

	.entry-footer {
		padding: 0;
		background: none;

		.container {
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: @black;

			.edit-link {
				padding: 15px 0;
				border-top-width: 2px;
				border-top-style: solid;
				border-top-color: @gray-lighter;
			}
		}
	}
}

.hentry + .hentry {

	margin-top: 0;
}


.list-view .site-content .hentry {

	border-top: none; 
	padding-top: 0; 
}