/* TODO - Remove all elements related to Home-Page templaate */

.home, .login {

	background-color: #626262;

	.modal-backdrop {

		opacity: 0;
	}

	.modal-dialog {

		.container {

			.row {

				h1 {
					text-align: left;

					@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
						margin-bottom: 17px;
						font-size: @font-size-h1-md;
					}

					@media( max-width: @screen-sm-max ){
						margin-bottom: 12px;
						font-size: @font-size-h1-sm;
					}
				}
			}
		}

		#login {
			width: auto;
			margin: 120px 0 0;
			padding: 0;

			@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
				margin-top: 80px;
			}

			@media( max-width: @screen-sm-max ){
				margin-top: 60px;
			}

			#call_to_action {

				cursor: pointer;
			}

			#loginform {
				margin: 0;
				padding: 0;
				background: none;
				box-shadow: none;

				#password_protected_pass {

					display: none;
					margin: 0;
					padding: 0;
					background: none;
					border: none;
					box-shadow: none;
					font-size: @font-size-h1;
					color: @brand-primary;
					letter-spacing: 2px;

					@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
						font-size: @font-size-h1-md;
					}

					@media( max-width: @screen-sm-max ){
						font-size: @font-size-h1-sm;
					}
				}
			}
		}

		#login_error {

			margin: 15px 0 0 0;
			padding: 15px 0 0 0;
			border-left: none;
			border-top-width: 2px;
			border-top-style: solid;
			border-top-color: @brand-secondary;
			color: @brand-secondary;
			background-color: transparent;
			box-shadow: none;
		}
	}
}