#menu {

	padding-right: 0 !important;
	color: @brand-primary;

	.modal-dialog {

		margin: 0;

		.container {

			margin-bottom: 55px;

			hr {
				margin-top: 25px;
				margin-bottom: 22px;
				border-top-color: @brand-primary;

				@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
					margin-top: 20px;
				}

				@media( max-width: @screen-sm-max ){
					margin-top: 15px;
				}
			}

			.row {

				a {
					.icon {
						color: @brand-primary;
						margin-top: 76px;
						font-size: 28px;

						@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
							margin-top: 74px;
							font-size: 25px;
						}

						@media( max-width: @screen-sm-max ){
							margin-top: 59px;
							font-size: 20px;
						}
					}

					&:hover {
						.icon {
							color: @gray;
						}
					}

					&:focus {
						.icon {
							color: @brand-primary;
						}
					}

					.logo {
						display: inline-block;
						padding: 72px 15px 15px;
						background-color: @brand-primary;
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;

						@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
							padding: 60px 10px 10px;
						}

						@media( max-width: @screen-sm-max ){
							padding: 47px 8px 8px;
						}

						.icon {
							color: @brand-secondary;
							font-size: 33px;
							margin-top: 0;

							@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
								font-size: 29px;
							}

							@media( max-width: @screen-sm-max ){
								font-size: 23px;
							}
						}
					}
				}
			}
		}

		.menu-header {

			margin-bottom: 0;
		}

		.menu-items {

			.menu-item-top {

				margin: 0;
				font-size: @font-size-h1;

				@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
					font-size: @font-size-h1-md;
				}

				@media( max-width: @screen-sm-max ){
					font-size: @font-size-h1-sm;
				}
			}

			.menu-item-top, .menu-item-list {

				.menu-item {

					color: @brand-primary;
					
					&:hover {

						color: @gray;
					}

					&:focus {

						color: @brand-primary;
					}
				}
			}

			.menu-item-list {

				margin: 0 0 45px 0;
				padding: 0;
				list-style: none;

				@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
					margin-bottom: 26px;
				}

				@media( max-width: @screen-sm-max ){
					margin-bottom: 6px;
				}
			}
		}
	}
}