::selection {
	
	color: @black;
	background: @brand-primary;
}

html, body {}

body {
	&:before {
		width: auto;
	}

	&.modal-open {
		padding-right: 0px !important;
	}
}

hr {
	margin-top: 0;
	margin-bottom: 0;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: @black;
}

.site {

	max-width: none;
	background-color: transparent;

	&:before {

		background-color: transparent;
		content: ""; 
		display: block; 
		width: auto; 
		height: auto;
		min-height: 0;
		position: static; 
		top: auto; 
		left: auto; 
		z-index: auto; 
	}

	.site-content {

		.content-area {

			margin: 145px 0 0;
			padding: 0;

			.site-main {

				margin: 0;
				padding: 0;
			}
		}
	}
}

/**
* debugging
*/
.xdebug-error, .xe-notice {
  position: absolute;
  top: 0;
  z-index: 10000;
}
