#search {

	padding-right: 0 !important;
	color: @brand-primary;

	.modal-dialog {

		margin: 0;

		.container {

			border-top-width: 2px;
			border-top-style: solid;
			border-top-color: @brand-primary;

			.row {

				padding: 30px 0 90px 0;

				.logo {
					display: inline-block;
					padding: 15px;
					background-color: @brand-primary;

					a {
						.icon {
							color: @brand-secondary;
							margin-top: 49px;
						}
					}
				}

				a {
					outline: none;

					h1, .icon {

						color: @brand-primary;
					}

					h1 {
						margin-top: 0;
					}

					.icon {
						margin-top: 71px;
						font-size: 29px;
					}

					&:hover {

						h1, .icon {
							color: darken( @brand-primary, 20% );
						}
					}

					&:focus {

						h1, .icon {
							color: @brand-primary;
						}
					}
				}

				input {
					
				}
			}

			&:first-child {

				margin-bottom: 30px;
				border-top: none;

				.row {
					padding: 0;
				}
			}
		}
	}
}

.search-field {
  padding: 1em;
  background-color: rgba(0, 0, 0, 0);
  border-width: 0 0 2px 0 !important;
  border-color: #000 !important;
  
  &:focus {
    appearance: none;
    outline: 0;
  }
}

#secondary #primary-sidebar {
  display: none;
}

/**
* search autocomplete
*/
.ui-autocomplete {
  z-index: 1100;
}

.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  color: inherit;
  background: @brand-primary none;
  border: 0 !important;
  margin: 0 !important;
	cursor: pointer;
}
