.search {

	.container {

		.row {

			h1 {
				margin-top: 20px;
				margin-bottom: 8px;
				color: @gray;
				text-transform: none;
			}

			.search-form {

				padding-top: 20px;
				padding-bottom: 8px;

				.search-field {

					padding: 0;
					width: 84%;
					font-size: @font-size-h1;
					font-weight: @headings-font-weight;
					line-height: @headings-line-height;

					background-color: transparent;
					border: none;
					
					&:focus {

						appearance: none;
						outline: 0;
					}

					&::-webkit-search-cancel-button {

						-webkit-appearance: none;
						font-family: "icons";
						font-size: 28px;
						display: inline-block;
						vertical-align: top;
						line-height: 1;
						font-weight: normal;
						font-style: normal;
						speak: none;
						text-decoration: inherit;
						text-transform: none;
						text-rendering: optimizeLegibility;
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;

						&:before {
							content:"\f105";
						}
					}
				}
			}
		}
	}
}



/**
* search autocomplete
*/
.ui-autocomplete {

	top: 220px !important;
	padding: 0;
	border: 0;
	z-index: 1100;
	background-image: none !important;
	background-color: transparent !important;

	.ui-menu-item {

		background-color: @white;

		a {
			padding: 0;
			color: @gray;
			font-family: @headings-font-family;
			font-size: @font-size-h1;
			font-weight: @headings-font-weight;
			line-height: 1.2;

			&:hover, &:focus {

				color: @brand-primary;			
			}
		}
	}	
}

.ui-state-focus {

    color: @brand-primary !important;
    background: none !important;
    border-color: transparent !important;
    outline: none !important;
}