//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
  margin: 0 0 @line-height-computed;
}


strong {

	font-family: 'AktivGrotesk-Medium', @font-family-base;
	font-weight: 400;
}
