//
// Typography
// --------------------------------------------------


// Body text
// -------------------------

p {
	margin: 0 0 @line-height-computed;

	@media( min-width: @screen-md-min ) and ( max-width: @screen-md-max ){
		margin: 0 0 @line-height-computed-md;
	}

	@media( max-width: @screen-sm-max ){
		margin: 0 0 @line-height-computed-sm;
	}
}

strong {

	font-family: 'AktivGrotesk-Medium', @font-family-base;
	font-weight: 400;
}

/*
prevent all hyphens and word breaking
*/
.comment-content, .nav-links, .page-content, .widget, pre, q {
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
	word-wrap: normal;
}
