.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 10;

	&.headroom {
	    transition-property: transform;
	    transition-duration: 200ms;
	    transition-timing-function: linear;
	}

	&.headroom--pinned {
	    transform: translateY(0%);
	}

	&.headroom--unpinned {
	    transform: translateY(-100%);
	}

	.container {

		padding-bottom: 15px;
		background-color: @white;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: @black;

		.row {

			.logo {
				display: inline-block;
				padding: 15px;
				background-color: @brand-primary;

				a {
					.icon {
						color: @brand-secondary;
						margin-top: 49px;
					}
				}
			}

			a {
				outline: none;

				.icon {
					margin-top: 71px;
					font-size: 29px;
				}

				&:focus {

					.icon {
						color: @black;
					}
				}
			}
		}
	}
}

.category-link {
  padding-top:70px;
}
.category-link .selected {
  text-decoration: underline;
}

.menu-item {
  list-style-type: none;
  font-size: 0.9em;
  line-height: 1.35em;
}
.menu-link {
  color: @brand-primary;
}
