.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	z-index: 10;

	&.headroom {
	    transition-property: transform;
	    transition-duration: 200ms;
	    transition-timing-function: linear;
	}

	&.headroom--pinned {
	    transform: translateY(0%);
	}

	&.headroom--unpinned {
	    transform: translateY(-100%);
	}

	.container {

		padding-bottom: 15px;
		background-color: @white;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: @black;

		.row {

			.logotype {
				width: 0;
				height: 100px;
				background: @brand-primary url(images/logo.png) no-repeat scroll 0 0;
				padding: 0 0 0 100px;
				text-indent: -1000px;
				overflow: hidden;
				display: block;
			}

			a {
				outline: none;

				.icon {
					margin-top: 71px;
					font-size: 29px;
				}

				&:focus {
					color: @black;
				}
			}
		}
	}
}

.category-link {
  padding-top:70px;
}
.category-link .selected {
  text-decoration: underline;
}
