#menu {

	padding-right: 0 !important;
	color: @brand-primary;

	.container {

		.row {

			border: 2px solid yellow;

			.logotype {

				width: 0;
				height: 100px;
				background: @brand-primary url(images/logo.png) no-repeat scroll 0 0;
				padding: 0 0 0 100px;
				text-indent: -1000px;
				overflow: hidden;
				display: block;
			}
		}
	}
}